*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y:hidden;
    overflow-x: hidden;
  
}

@media screen and (max-width:600px) {
   body {
        overflow: hidden;
        margin: 0px;
        padding:0px;
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 1.8rem;
        padding-left: -10px;
    }
}

.ppbox{
    height: 660px;
    width: 5000px;
    background-color: #9f3c27;
    left: 0px;
    position: absolute;

}
@media screen and (max-width:600px) {
    .ppbox {
    height: 4000px;
    width: 100vw;
    position: absolute;
    left: 0px;
    background-color: #9f3c27;
    }
}
.graphp2{
    position: absolute;
    top: 200px;
    left: 40px;
   bottom: 150px;
}
@media screen and (max-width:600px) {
    .graphp2 {
    position: absolute;
    bottom: 300px;
    top: 200px;
    left: 0px;
    width:100vw;
    height: 300px;
}
}





.wtape3{
    position:absolute;
    top: 105px;
    left: 520px;
   
}
.ipad{
    position: absolute;
    top: 44px;
    right: 0px;
    display:none;
}
@media screen and (max-width:600px) {
    .ipad {
        display:none;

}
}

.ipencil{
    position: absolute;
    top: -130px;
    right: 0px;
    display: none;
   
}
@media screen and (max-width:600px) {
    .ipencil {
        display: none;

}
}
.paintbrush{
    position: absolute;
    top: 110px;
    left: 600px;
}
@media screen and (max-width:600px) {
    .paintbrush {
       display:none;
}
}
.pencil{
    position: absolute;
    top: 352px;
    left: -70px;
    display: none;
}
@media screen and (max-width:600px) {
    .pencil {
        display: none;
}
}







.paintbrush2{
    transform:rotate(90deg);
    height: 800px;
    left: 170px;
    display: block;
    position: absolute;
    top:320px;
}
@media screen and (max-width:600px) {
    .paintbrush2 {
        display:block;
        height: 230px;
        position: absolute;
        left: 50px;
        top: 35px;
        transform: rotate(360deg);
}
}
.paintbrush3{
    transform:rotate(90deg);
    height: 1000px;
    left: 200px;
    display: block;
    position: absolute;
    top:370px;
}
@media screen and (max-width:600px) {
    .paintbrush3 {
        display:block;
        height: 230px;
        position: absolute;
        left: 45px;
        top: 5px;
        transform: rotate(360deg);
}
}
.paintbrush4 {
    display:none;
}
@media screen and (max-width:600px) {
    .paintbrush4 {
        display:block;
        height: 260px;
        position: absolute;
        left: 10px;
        top: -40px;
}
}









.sharpie{
    transform:rotate(-90deg);
    height: 600px;
    left: 400px;
    display: block;
    position: absolute;
    top:450px;
}

@media screen and (max-width:600px) {
    .sharpie {
        display:block;
        height: 220px;
        position: absolute;
        left: 30px;
        top: 420px;
        transform: rotate(-360deg);
}
}
.marker{
    transform:rotate(-90deg);
    height: 600px;
    left: 590px;
    display: block;
    position: absolute;
    top:420px;
}
@media screen and (max-width:600px) {
    .marker {
        display:block;
        height: 220px;
        position: absolute;
        left: 35px;
        top: 460px;
        transform: rotate(-360deg);
}
}
.newpencil{
    transform:rotate(-90deg);
    height: 600px;
    left: 800px;
    display: block;
    position: absolute;
    top:490px;
}

@media screen and (max-width:600px) {
    .newpencil {
        display:block;
        height: 220px;
        position: absolute;
        left: 35px;
        top: 500px;
        transform:rotate(-360deg)
}
}











.wtape3{
    position: absolute;
    top: 80px;
    left: 170px;
}
@media screen and (max-width:600px) {
    .wtape3 {
        position: absolute;
        top: 1500px;
        left: 530px;
        height: 400px;
        display:none;
}
}
.wtape4{
    position: absolute;
    top: 570px;
    left: 580px;
    display: none;
}
@media screen and (max-width:600px) {
    .wtape4 {
        position: absolute;
        top: 2100px;
        left: 580px;
        height: 260px;
        display: none;
}
}


.portfoliow{
    width: 80%;
    max-width:500px;
    border: black;
    border-radius: 1px;
    position:relative;
    text-align: center;
    top:130px;
    left: 70px;
    font-size: .9;
}



p{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: .9em;
}

@media screen and (max-width:600px) {
    .portfoliow p{
      width: 400px;
      font-size: .65em;
      position: relative;
      top:70px;
      left: -90px;
}
}