body {
    font-family: 'Poppins', sans-serif;
    color: #261f1d;
  }

  header {
    text-align: center;
    padding-top: 1em;
    font-family: "Poppins", sans-serif;
  }

  .site-header {
    border-bottom: 1px solid #261f1d;
    padding: 2em 3em 1em 3em; /* 👈 this moves the border down */
  }
  
  .site-title {
    font-size: 1.8rem;
    font-weight: 300 !important;
    margin: 0;
    letter-spacing: 0.2rem;
    text-decoration: none !important;

  }

  .site-title a {
    text-decoration: none !important;
    color: #261f1d !important;
  }
  
  .main-nav {
    margin-top: 0.5em;
  }
  
  .main-nav a {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin: 0 0.7em;
    text-decoration: none;
    color: #261f1d;
    font-weight: 500;
  }

  @media screen and (min-width: 1024px) {
    .site-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2em 3em 0em 3em;
      z-index: 9999;
      background-color: white;
      text-decoration: none;
      border-bottom: 1px solid #261f1d;
    }
    
    .site-title {
      font-size: 5.2rem !important;
      font-weight: 300 !important;
      margin: 0;
      letter-spacing: 0.25rem;
      position: relative;
      left: -2%;
    }
    
    .main-nav {
      margin-top: 0;
      margin-right: 5%;
      margin-bottom: -2rem;
    }
    
    .main-nav a {
      font-size: 1.5rem !important;
      margin: 0 1em;
    }
  }




  #sf-time {
    display: none;
  }
  
  @media screen and (min-width: 1024px) {
    #sf-time {
      position: fixed;
      top: 4em;  /* adjust as needed */
      right: 2em;
      font-size: 1rem;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      color: #555;
      z-index: 99999;
      display: block;
    }
  }













  .painting-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem; /* controls space between images */
    padding-bottom: 15rem;
  }
  
  .painting-carousel img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }

  @media screen and (min-width: 1024px) {
    .painting-carousel {
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem 0;
      margin-top: 170px;
    }
  
    .painting-carousel img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }